<div class="container-fluid">
    <h4>Employee</h4>
    <div class="card-body table-responsive p-0 " style="height: 300px;">
        <table class="table table-head-fixed text-nowrap">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Position</th>
                <th>Email</th>
                <th>Salary</th>
                <th>Account Number</th>
                <th>Bank</th>
                <th>Location</th>
                <th>Edit Details</th>
                <th>Sack</th>
            </tr>
            </thead>
            {{#each staffs}}
            <tbody>
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{position}}</td>
                    <td>{{email}}</td>
                    <td>{{salary}}</td>
                    <td>{{account}}</td>
                    <td>{{bank}}</td>
                    <td>{{location}}</td>
                    <td><a href="/edit-staff?id={{id}}" class="btn btn-link edit-button"><i class="far fa-edit"></i></a></td>
                    <td><a href="/delete-staff?id={{id}}" class="btn btn-link delete-button"><i class="far fa-trash-alt"></i></a></td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
    <div class="row">
        <div class="card-body col-sm-12 col-md-10 mx-auto my-4 shadow bg-white">
            <h5>Create Staff</h5>
            <form action="/process-staff" method="post" class="p-2" enctype="multipart/form-data">
            {{!-- Name --}}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Name:
                            </span>
                        </div>
                        <input type="text" name="staffName" id="staffName" class="form-control" required>
                    </div>
                </div>
                {{!-- Email --}}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Email:
                            </span>
                        </div>
                        <input type="email" name="staffEmail" id="staffEmail" class="form-control" required>
                    </div> 
                </div>
                {{!-- Password --}}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Password
                            </span>
                        </div>
                        <input type="password" name="staffPassword" id="staffPassword" class="form-control" onkeyup="check()" required>
                    </div>
                </div>
                {{!-- confirm password --}}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Confirm Password
                            </span>
                        </div>
                        <input type="password" id="staffConfirmPassword" class="form-control" onkeyup="check()" required>
                    </div>
                    <span id="message" class="small"></span>
                </div>
                {{!-- Location --}}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                Location
                            </span>
                        </div>
                        <input type="text" name="staffLocation" id="staffLocation" class="form-control" required>
                    </div>
                </div>
                {{!-- Account Number &phone number& Bank Name --}}
                <div class="form-row">
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Account number:
                                    </span>
                                </div>
                                <input type="number" name="staffAccount" id="staffAccount" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Phone number:
                                    </span>
                                </div>
                                <input type="number" name="staffPhone" id="staffPhone" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Bank:
                                    </span>
                                </div>
                                <input type="text" name="staffBank" id="staffBank" class="form-control" required>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- Salary & Position --}}
                <div class="form-row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Salary:
                                    </span>
                                </div>
                                <input type="number" name="staffSalary" id="staffSalary" class="form-control" required>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        Position:
                                    </span>
                                </div>
                                <select name="staffPosition" id="staffPosition" class="form-control" required>
                                    <option value="admin">Admin</option>
                                    <option value="supervisior">Supervisior</option>
                                    <option value="attendant">Attendant</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- Staff Image --}}
                <div class="form-group">
                    <label for="staffImage">Please add a photo:</label>
                    <input type="file" name="staffImage" id="staffImage" class="form-image-control" accept="images/*">
                </div>
                <input type="submit" value="CREATE STAFF" class="btn btn-block btn-outline-info">
            </form>
        </div>
    </div>
</div>
{{#section 'javascripts'}}
    <script src="/javascripts/staffControl.js"></script>
{{/section}}