<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/assets/bootstrap-4.5.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/slick/slick-theme.css">
    <link rel="stylesheet" href="/assets/owl-carousel-dis/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/owl-carousel-dis/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="/assets/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="/assets/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script>
        document.onreadystatechange = function () {
            var state = document.readyState
            if (state == 'interactive') {
                document.getElementById('contents').style.visibility="visible";
            } else if (state == 'complete') {
                setTimeout(function(){
                    document.getElementById('interactive');
                    document.getElementById('load').style.visibility="hidden";
                    document.getElementById('contents').style.visibility="visible";
                },1000);
            }
            }
    </script>
    <title>PawKlan wears</title>
    {{{_sections.head}}}
</head>

<body>
    {{{body}}}
    {{#if flash}}
        <div class="alert alert-dismissible alert-{{flash.type}}">
        <button type="button" class="btn btn-info close"
        data-dismiss="alert" aria-hidden="true">&times;<button>
        <strong>{{flash.intro}}</strong> {{{flash.message}}}
        </div>
    {{/if}}
    {{!-- back up jquery --}}
    
    <script src="/assets/jquery-3.5.1.js"></script>
    <script src="/assets/owl-carousel-dis/owl.carousel.min.js"></script>
    <script src="/assets/owl-carousel-dis/owl.carousel.js"></script>
    <script src="/assets/swiper/swiper-bundle.js"></script>
    <script src="/assets/swiper/swiper-bundle.min.js"></script>
    <script src="/javascripts/pawklan.js"></script>
    <script src="/assets/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script>
    <script>
        var mySwiper = new Swiper('.swiper-container', {
            effect: 'cube',
            grabCursor: true,
            cubeEffect: {
                shadow: true,
                slideShadows: true,
                shadowOffset: 20,
                shadowScale: 0.94,
            },
            pagination: {
                el: '.swiper-pagination',
            },
        })
        $(document).on('ready', mySwiper());
    </script>
    <script>
        var showResults = debounce(function(arg){
            console.log('working')
            var value = arg.trim();
            if(value = ""||value.length <= 0){
                $("#search-results")//.fadeOut();
                return;
            }else{
                $("#search-result")//.fadeIn();
            }
            var jqxhr = jQuery.get('/xhr/search?='+ value,function(data){
                $("#search-results").html("");
            })
            .done(function(data){
                if(data.length === 0){
                    $("search-results").append(
                        `
                            <p class="search-result">No results</p>
                        `
                    );
                }else{
                    data.forEach(x => {
                        $("#search-results").append(
                            `<li class="dropdown-item">
                                <a href="/viewProduct?id=${x._id}">
                                    <p class="search-result"><span id="search-st">Pawklan's</span> <span id="search-cn">${x.name}</span></p>
                                </a>
                            </li>
                            `
                        )
                    })
                }
            })
            .fail(function(err){
                console.log(err)
            })
        }, 200);
        function debounce(func,wait,immediate){
            var timeout;
            return function(){
                var context = this,
                    args = arguments;
                var later = function(){
                    timeout = null;
                    if(!immediate) func.apply(context,args);
                };
                var callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later,wait);
                if(callNow) func.apply(context,args)
            }
        }
    </script>
    <script>
        document.querySelector('#currencyLink').addEventListener('click',function(){
            $('.modal').modal('show');
        })
    </script>
    {{{_sections.javascripts}}}
</body>
</html>