<nav class="navbar navbar-expand-lg navbar-light">
    <span><img src="/images/logoimagepawklan-removebg-preview.png" id="navlogo" alt=""></span>
    <a class="navbar-brand" href="#">PawKlan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/shop">Shop</a>
        </li>
        <li class="nav-item">
            <a href="/categories" class="nav-link">Categories</a>
        </li>
        <li class="nav-item">
            <a href="/gallery" class="nav-link">Gallery</a>
        </li>
        <li class="nav-item">
            <a href="/about" class="nav-link">Our brand</a>
        </li>
        <li class="nav-item active">
            <a href="/cart" class="nav-link">Cart <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a href="/wishlist" class="nav-link">WishList</a>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="searchForm" type="search" placeholder="Search" aria-label="Search">
                {{#if user}}
                <a href="/logout" class="btn ml-2 my-2 my-sm-0 footer-btn" id="loginbtn">
                    Log Out
                    <span class="fas fa-sign-out-alt" style="color: white;" ></span>
                </a>
                {{else}}
                <a href="/login" class="btn ml-2 my-2 my-sm-0 footer-btn" id="loginbtn">
                    Login
                    <span class="fas fa-sign-in-alt" style="color: white;"></span>
                </a>
            {{/if}}
            </form>
    </div>
</nav>
{{!-- Start cart --}}
<div class="col-sm-10 col-md-8 col-lg-4 mx-auto">
    <div class="card shadow cart-card">
        <div class="card-body">
                <div class="row">
                    <h2>Cart</h2>
                </div>
                {{#if cart}}
                    <table class="table table-responsive">
                        <thead class="shadow">
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Unit Price</th>
                                <th>Colour</th>
                                <th>Size</th>
                                <th></th>
                            </tr>
                        </thead>
                        
                        {{#each this}}
                        <tbody>
                            {{#each items}}   
                                <tr>
                                    <td><a href="/viewProduct?id={{item}}">{{name}}</a></td>
                                    <td>{{qty}}</td>
                                    <td>{{price}}</td>
                                    <td>{{colour}}</td>
                                    <td>{{size}}</td>
                                    <td id="delete">
                                        <a href="/removeItem?id={{hidden}}" class="text-center">{{delete}}</a>
                                    </td>
                                </tr>
                            {{/each}} 
                        </tbody>
                        {{/each}}
                        
                    </table>
                    <div class="row">
                            <div class="col-sm-6 col-md-6">
                                <h4 id="total">Total: <strong>$
                                    {{#each this}}
                                    {{total}}
                                    {{/each}}
                                    </strong> 
                                </h4>
                            </div>
                            <div class="col-sm-6 col-md-6"></div>
                    </div>
                    <div class="row" id="empty">
                        <div class="col-sm-12">
                            <a href="/emptyCart">Empty</a>
                        </div>
                    </div>
                    <a href="/checkout" class="btn btn-block btn-sm btn-dark">Proceed to checkout</a>
                {{/if}}
        </div>
    </div>
</div>
<div class="mt-5">
    {{>footer}}
</div>
