{{#section 'head'}}
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
  <script>
        document.onreadystatechange = function () {
            var state = document.readyState
            if (state == 'interactive') {
                document.getElementById('contents').style.visibility="visible";
            } else if (state == 'complete') {
                setTimeout(function(){
                    document.getElementById('interactive');
                    document.getElementById('load').style.visibility="hidden";
                    document.getElementById('contents').style.visibility="visible";
                },1000);
            }
            }
    </script>
{{/section}}
{{!-- Use nice loader Image --}}
<div class="loader" id="load"></div>
<nav class="navbar navbar-expand-lg navbar-light">
    <span><img src="/images/logoimagepawklan-removebg-preview.png" id="navlogo" alt=""></span>
    <a class="navbar-brand" href="#">PawKlan</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/shop">Shop</a>
        </li>
        <li class="nav-item">
            <a href="/categories" class="nav-link">Categories</a>
        </li>
        <li class="nav-item">
            <a href="/gallery" class="nav-link">Gallery</a>
        </li>
        <li class="nav-item">
            <a href="/about" class="nav-link">Our brand</a>
        </li>
        <li class="nav-item">
            <a href="/cart" class="nav-link">Cart</a>
        </li>
        <li class="nav-item">
            <a href="/wishlist" class="nav-link">WishList</a>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="searchForm" type="search" placeholder="Search" aria-label="Search">
                {{#if user}}
                <a href="/logout" class="btn ml-2 my-2 my-sm-0 footer-btn" id="loginbtn">
                    Log Out
                    <span class="fas fa-sign-out-alt" style="color: white;" ></span>
                </a>
                {{else}}
                <a href="/login" class="btn ml-2 my-2 my-sm-0 footer-btn" id="loginbtn">
                    Login
                    <span class="fas fa-sign-in-alt" style="color: white;"></span>
                </a>
            {{/if}}
            </form>
    </div>
</nav>
<section>
    <div class="container">
        <div class="row" id="checkRow">
            <div class="col-sm-8 col-md-6 mx-auto topCheck">
                <div class="card bg-light">
                    <h3><i class="fab fa-opencart"></i>Cart Summary</h3>
                    <hr>
                    <ul class="list-unstyled">
                        {{#each this}}
                        {{#each items}}
                        <li class="list-item">
                            <div class="row">
                                <div class="col-8">
                                    <div id="holder">
                                        <h5>{{qty}}&times;{{name}}</h5>
                                        <p class="small">{{slug}}</p>
                                        <p class="small">{{colour}}</p>
                                        <p class="small">{{size}}</p>
                                    </div>
                                    
                                </div>
                                <div class="col-4">
                                    <h5>{{price}} <img src="{{picture}}" alt=""></h5>
                                </div>
                            </div>
                            <hr>
                        </li>
                        {{/each}}
                        {{/each}}
                    </ul>
                    <h5 class="text-right">sub-total:{{#each this}} {{total}} {{/each}} {{currency}}</h5>
                </div>
            </div> 
            <div class="col-sm-10 col-md-6 mx-auto bottomCheck">
                <h3>Billing Details</h3>
                <a href="/login" class="btn btn-block btn-lg btn-secondary">
                <img src="/images/logoimgdark-removebg-preview (1).png" class="img-responsive" alt=""> Login</a>
                <h2 class="text-center">Or</h2>
                <form action="#" method="post" class="bg-light">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="cartEmail" class="form-control" id="email" value="{{email}}">
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="cartName" class="form-control" id="name" value="{{username}}">
                    </div>
                    <div id="paypal-button-container"></div>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="https://www.paypal.com/sdk/js?client-id=AQYV819n-ccOeVDLNqFUAIBCq6tJYSQGZbt7c02N-f3z4GljAsm-Z1HIX02gZWw7N6xs6ys0YQRZa9og"></script>
<script>
paypal.Buttons().render('#paypal-button-container');
// This function displays Smart Payment Buttons on your web page.
</script>
{{>footer}}
