<div class="jumbotron-fluid shop-jumbo">
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light shop-nav">
      <span><img src="/images/logoimagepawklan-removebg-preview.png" id="navlogo" alt=""></span>
        <a class="navbar-brand" href="#">
          PawKlan
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/shop">Shop<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a href="/categories" class="nav-link">Categories</a>
            </li>
            <li class="nav-item">
                <a href="/gallery" class="nav-link">Gallery</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link">Our brand</a>
            </li>
            <li class="nav-item">
                <a href="/cart" class="nav-link">Cart</a>
            </li>
            <li class="nav-item">
                <a href="/wishlist" class="nav-link">Wishlist</a>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="searchForm" type="search" placeholder="Search" aria-label="Search">
                {{#if user}}
                <a href="/logout" class="btn ml-2 my-2 my-sm-0 footer-btn" id="loginbtn">
                    Log Out
                    <span class="fas fa-sign-out-alt" style="color: white;" ></span>
                </a>
                {{else}}
                <a href="/login" class="btn ml-2 my-2 my-sm-0 footer-btn" id="loginbtn">
                    Login
                    <span class="fas fa-sign-in-alt" style="color: white;"></span>
                </a>
            {{/if}}
            </form>
        </div>
    </nav>
    <div class="intro-text">
        <h3><span><img src="/images/logoimagepawklan-removebg-preview.png" id="navlogo" alt=""></span>
        Welcome to Pawklan</h3>
        <h6>Let's make your fashion desires come true</h6>
    </div>
</div>
{{!-- collection Section --}}
<section>
    <p class="categories-intro">
        Pawklan Collections
    </p>
    <div class="container-fluid">
        {{!-- Categories carousel --}}
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="card">
                    <div class="featuredImageHolder">
                        <a href="/categories">
                            <img src="/images/pk logo  1.jpg" alt=".....male" id="featuredImage">
                        </a>
                        <p id="category-name" >Men's Fashion</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card">
                    <div class="featuredImageHolder">
                        <a href="/female">
                            <img src="/images/pk logo  1.jpg" alt=".....male" id="featuredImage">
                        </a>
                        <p id="category-name" >Ladies Fashion</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card">
                    <div class="featuredImageHolder">
                        <a href="/children">
                            <img src="/images/pk logo  1.jpg" alt=".....male" id="featuredImage">
                        </a>
                        <p id="category-name" >Children's Wears</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card">
                    <div class="featuredImageHolder">
                        <a href="/headwear">
                            <img src="/images/pk logo  1.jpg" alt=".....male" id="featuredImage">
                        </a>
                        <p id="category-name" >Caps &amp; Hats</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card">
                    <div class="featuredImageHolder">
                        <a href="/footwear">
                            <img src="/images/pk logo  1.jpg" alt=".....male" id="featuredImage">
                        </a>
                        <p id="category-name" >Shoes &amp; Boots</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card">
                    <div class="featuredImageHolder">
                        <a href="/accessories">
                            <img src="/images/pk logo  1.jpg" alt=".....male" id="featuredImage">
                        </a>
                        <p id="category-name" >Accessories</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- featured Section --}}
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 mx-auto">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {{#each featured}}
                        <div class="swiper-slide">
                            <img src="{{image}}" id="featured">
                            <div>
                                <a href="/viewProduct?id={{id}}" class="bottom-left">
                                    <p class="product-text">
                                        {{name}}  </p>
                                    <p class="price-text">{{price}} USD</p>
                                    
                                </a>
                                <p class="top-left">
                                   <span class="badge badge-info" id="discount">{{discount}}% off</span> 
                                </p>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    {{!-- Most orders --}}
    <div class="container">
        <div class="section-holder">
            <p class="most-orders">
            Most Orders
            </p>
        </div>
        
        <div class="owl-carousel owl-theme" id="owl-two">
            <div class="item">
                <div class="card">
                    <div class="featuredImageHolder">
                        <a><img src="/images/IMG_5006.JPG" id="featuredImage"></a>
                        <span class="badge badge-sm badge-secondary" id="discount">
                            20% off
                        </span>
                    </div>
                    <p class="product-text">Nice tops</p>
                    <p class="price-text">$100.00</p>
                </div>
            </div>
            <div class="item">
                <div class="card">
                    <div class="featuredImageHolder">
                        <a><img src="/images/IMG_5006.JPG" id="featuredImage"></a>
                        <span class="badge badge-sm badge-secondary" id="discount">
                            20% off
                        </span>
                    </div>
                    <p class="product-text">Nice tops</p>
                    <p class="price-text">$100.00</p>
                </div>
            </div>
            <div class="item">
                <div class="card">
                    <div class="featuredImageHolder">
                        <a><img src="/images/IMG_5006.JPG" id="featuredImage"></a>
                        <span class="badge badge-sm badge-secondary" id="discount">
                            20% off
                        </span>
                    </div>
                    <p class="product-text">Nice tops</p>
                    <p class="price-text">$100.00</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    {{!-- New Arrivals --}}
    <div class="container-fluid new-arrivals">
        <h5>New Arrivals</h5>
        <div class="row">
            <div class="col-sm-12 col-md-3">
                <p class="column-desc">Men's Fashion</p>
                <ul class="list-unstyled">
                    {{#each male}}
                       
                            <li class="media">
                                <img src="{{image}}">
                                <div class="media-body">
                                    <a href="/viewProduct?id={{id}}">
                                        <span class="badge badge-secondary" id="discount">{{discount}}% off</span>
                                        <p class="product-text">{{name}}</p>
                                        <p class="price-text">{{price}} USD</p>
                                    </a>
                                </div>
                            </li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <p class="column-desc">Ladies Wears</p>
                <ul class="list-unstyled">
                    <li class="media">
                        <img src="/images/IMG_5003.JPG">
                        <div class="media-body">
                            <span class="badge badge-secondary" id="discount">20% off</span>
                            <p class="product-text">Paw Top</p>
                            <p class="price-text">1200.00 USD</p>
                        </div>
                    </li>
                    <li class="media">
                        <img src="/images/IMG_5003.JPG">
                        <div class="media-body">
                            <span class="badge badge-secondary" id="discount">20% off</span>
                            <p class="product-text">Paw Top</p>
                            <p class="price-text">1200.00 USD</p>
                        </div>
                    </li>
                    <li class="media">
                        <img src="/images/IMG_5003.JPG">
                        <div class="media-body">
                            <span class="badge badge-secondary" id="discount">20% off</span>
                            <p class="product-text">Paw Top</p>
                            <p class="price-text">1200.00 USD</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <p class="column-desc">Shoes &amp; Boots</p>
                <ul class="list-unstyled">
                    <li class="media">
                        <img src="/images/IMG_5003.JPG">
                        <div class="media-body">
                            <span class="badge badge-secondary" id="discount">20% off</span>
                            <p class="product-text">Paw Top</p>
                            <p class="price-text">1200.00 USD</p>
                        </div>
                    </li>
                    <li class="media">
                        <img src="/images/IMG_5003.JPG">
                        <div class="media-body">
                            <span class="badge badge-secondary" id="discount">20% off</span>
                            <p class="product-text">Paw Top</p>
                            <p class="price-text">1200.00 USD</p>
                        </div>
                    </li>
                    <li class="media">
                        <img src="/images/IMG_5003.JPG">
                        <div class="media-body">
                            <span class="badge badge-secondary" id="discount">20% off</span>
                            <p class="product-text">Paw Top</p>
                            <p class="price-text">1200.00 USD</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-3">
                <p class="column-desc">Accessories</p>
                <ul class="list-unstyled">
                    <li class="media">
                        <img src="/images/IMG_5003.JPG">
                        <div class="media-body">
                            <span class="badge badge-secondary" id="discount">20% off</span>
                            <p class="product-text">Paw Top</p>
                            <p class="price-text">1200.00 USD</p>
                        </div>
                    </li>
                    <li class="media">
                        <img src="/images/IMG_5003.JPG">
                        <div class="media-body">
                            <span class="badge badge-secondary" id="discount">20% off</span>
                            <p class="product-text">Paw Top</p>
                            <p class="price-text">1200.00 USD</p>
                        </div>
                    </li>
                    <li class="media">
                        <img src="/images/IMG_5003.JPG">
                        <div class="media-body">
                            <span class="badge badge-secondary" id="discount">20% off</span>
                            <p class="product-text">Paw Top</p>
                            <p class="price-text">1200.00 USD</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid" id="info-container">
        <div class="row">
            <div class="col-sm-4">
                <p class="info-header">Free Delivery</p>
                <p class="info-message">Free Delivery for orders over 150.00 USD</p>
            </div>
            <div class="col-sm-4">
                <p class="info-header">Money Guarantee</p>
                <p class="info-message">30 days money back Gurantee on bought Items</p>
            </div>
            <div class="col-sm-4">
                <p class="info-header">Customer Service</p>
                <div class="info-message">24/7 Customer service </div>
            </div>
        </div>
    </div>
</section>

{{>footer}}
{{#section 'javascripts'}}
    <script type="text/javascript" src="/assets/slick/slick.min.js"></script>
    <script>
        $('document').on('ready',function(){
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin:10,
                nav:true,
                autoplay: true,
                autoplayTimeout: 2000,
                autoplayHoverPause:true,
                autoWidth: true,
                responsiveClass: true,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:3
                    },
                    1000:{
                        items:3
                    }
                }
            });
        })
    </script>
{{/section}}