
<div class="container-fluid">
    <h3>Male Category</h3>
    <h4>Tops & Jackets</h4>
    <div class="owl-carousel owl-theme" style="height: 65vh;">
        {{#each tops}}
            <div class="item correct">
                <img src="{{image}}" alt=""
                    class="shadow" id="carousel-image shadow-lg">
                <p class="product-text">{{name}}</p>
                <div class="row">
                    <div class="col-8"><p class="price-text">${{price}}.00</p></div>
                    <div class="col-4"><span id="discount" class="badge badge-info">{{discount}}% off</span></div>
                </div>
                <a href="#" class="btn btn-block product-button">View product</a>
            </div>
        {{/each}}
    </div>
    <h4>Pants & Shorts</h4>
    <div class="owl-carousel owl-theme"style="height: 65vh;">
        {{#each pants}}
            <div class="item correct">
                <img src="{{image}}" alt=""
                    class="shadow" id="carousel-image shadow-lg">
                <p class="product-text">{{name}}</p>
                <div class="row">
                    <div class="col-8"><p class="price-text">${{price}}.00</p></div>
                    <div class="col-4"><span id="discount" class="badge badge-info">{{discount}}% off</span></div>
                </div>
                <a href="#" class="btn btn-block product-button">View product</a>
            </div>
        {{/each}}
    </div>
    <h4>Matching Sets & Outwear</h4>
    <div class="owl-carousel owl-theme"style="height: 65vh;">
        {{#each outwear}}
            <div class="item correct">
                <img src="{{image}}" alt=""
                    class="shadow" id="carousel-image shadow-lg">
                <p class="product-text">{{name}}</p>
                <div class="row">
                    <div class="col-8"><p class="price-text">${{price}}.00</p></div>
                    <div class="col-4"><span id="discount" class="badge badge-info">{{discount}}% off</span></div>
                </div>
                <a href="#" class="btn btn-block product-button">View product</a>
            </div>
        {{/each}}
    </div>
    <h4>Underwear & Socks</h4>
    <div class="owl-carousel owl-theme"style="height: 65vh;">
        {{#each underwear}}
            <div class="item correct">
                <img src="{{image}}" alt=""
                    class="shadow" id="carousel-image shadow-lg">
                <p class="product-text">{{name}}</p>
                <div class="row">
                    <div class="col-8"><p class="price-text">${{price}}.00</p></div>
                    <div class="col-4"><span id="discount" class="badge badge-info">{{discount}}% off</span></div>
                </div>
                <a href="#" class="btn btn-block product-button">View product</a>
            </div>
        {{/each}}
    </div>
</div>


